.App {
  text-align: center;
}

.send-form {
  width: 400px;
  margin-left:auto;
  margin-right: auto;
}

.send-form input {
  margin-bottom: 5px;
}


.main-body canvas {
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  margin-bottom: 60px;
  color: white;
}

.App-header h2 {
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
